* {
  margin: 0;
  padding: 0;
}

a:visited, a {
  color: white;
}

body {
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  letter-spacing: 0.12px;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  background-color: #ecf2f8;
  z-index: 1;
}

@media screen and (min-width: 500px) {
  .container {
    height: 100vh;
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  z-index: 2;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 500px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 730px;
    height: 280px;
    -webkit-box-shadow: 5px 10px 20px 5px lightgrey;
            box-shadow: 5px 10px 20px 5px lightgrey;
  }
}

.card__image {
  background: url("../images/drawers.jpg") no-repeat;
  background-position: 0 -46px;
  background-size: cover;
  width: 100%;
  height: 200px;
}

@media screen and (min-width: 500px) {
  .card__image {
    background: url("../images/drawers.jpg") no-repeat bottom left cover;
    width: 285px;
    height: 100%;
    background-position: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.card__content {
  padding: 36px 32px 0 32px;
}

@media screen and (min-width: 500px) {
  .card__content {
    padding: 32px 40px 0 40px;
    width: 365px;
  }
}

.card__title {
  color: #48556a;
  line-height: 28px;
  letter-spacing: 0.2px;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (min-width: 500px) {
  .card__title {
    font-size: 20px;
  }
}

.card__text {
  margin-top: 12px;
  color: #6d7f97;
  line-height: 20px;
  letter-spacing: 0.12px;
}

.card-footer {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 1fr 32px;
      grid-template-columns: 40px 1fr 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 52px;
  margin-bottom: 20px;
}

@media screen and (min-width: 500px) {
  .card-footer {
    margin-top: 16px;
    margin-bottom: 0;
  }
}

.card-footer__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.card-footer__image img {
  width: inherit;
}

.card-footer__info {
  margin-left: 16px;
  line-height: 20px;
  letter-spacing: 0.12px;
  text-align: left;
}

.card-footer__info p:first-child {
  color: #48556a;
  font-weight: 700;
}

.card-footer__info p:last-child {
  color: #9eafc2;
}

.card-footer__share {
  background-color: #ecf2f8;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-footer__share svg path {
  fill: #6d7f97;
}

.card-footer .icon-share-inverse-color {
  background-color: #6d7f97;
}

.card-footer .icon-share-inverse-color svg path {
  fill: #ecf2f8;
}

.content-footer {
  display: none;
  -ms-grid-columns: 1fr 64px;
      grid-template-columns: 1fr 64px;
  position: absolute;
  background-color: #48556a;
  z-index: 4;
  width: 100%;
  height: 64px;
  bottom: 0px;
  padding: 0 32px 0 32px;
  -webkit-animation: 0.5s blink ease;
          animation: 0.5s blink ease;
}

@media screen and (min-width: 500px) {
  .content-footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
    width: 248px;
    height: 55px;
    border-radius: 10px;
    bottom: 96px;
    right: -68px;
  }
  .content-footer:after {
    position: absolute;
    bottom: -12px;
    left: 112px;
    content: "";
    border-top: 12px solid #48556a;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }
}

.content-footer .social-media {
  width: 175px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.content-footer a {
  margin-right: 16px;
}

.content-footer a:last-child {
  margin: 0;
}

.content-footer span {
  color: #6d7f97;
  line-height: 20px;
  letter-spacing: 5px;
  margin-right: 23px;
  display: inline-block;
  width: 60px;
}

.content-footer .card-footer__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  margin-right: 32px;
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6d7f97;
}

@media screen and (min-width: 500px) {
  .content-footer .card-footer__share {
    display: none;
  }
}

.content-footer .card-footer__share svg path {
  fill: #ffffff;
}

.active {
  display: -ms-grid;
  display: grid;
}

.attribution {
  display: none;
  background-color: #48556a;
  position: absolute;
  text-align: center;
  bottom: 0px;
  z-index: 3;
  width: 100%;
  height: 20px;
}

@media screen and (min-width: 500px) {
  .attribution {
    display: block;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main-backup.css.map */