$VeryDarkBlue: hsl(217, 19%, 35%)
$DarkBlue: hsl(214, 17%, 51%)
$GrayishBlue: hsl(212, 23%, 69%)
$LightGrayishBlue: hsl(210, 46%, 95%)
%footerWidth: 30px

body
    color: red
    font-size: 13px
main
    display: flex
    justify-content: center
    align-content: center
    // overflow: hidden;
    height: 100vh
    width: 100vw

.card
    position: absolute
    display: flex
    flex-direction: row
    width: 730px
    height: 280px
    border: 1px solid #000
    overflow: hidden

.content-footer
    position: relative